USE [master]
GO
/****** Object:  Database [OED.Lessons]    Script Date: 9/13/2022 2:19:37 PM ******/
CREATE DATABASE [OED.Lessons]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OED.Lessons', FILENAME = N'C:\Users\paynek\OED.Lessons.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OED.Lessons_log', FILENAME = N'C:\Users\paynek\OED.Lessons_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OED.Lessons].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OED.Lessons]
GO
/****** Object:  Table [dbo].[Taxpayer]    Script Date: 9/13/2022 2:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taxpayer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[SSN] [nvarchar](max) NULL,
	[Pin] [nvarchar](max) NULL,
	[StartDate] [date] NULL,
 CONSTRAINT [PK_Taxpayer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
