@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    img {
        display: table-cell;
        vertical-align: middle;
        margin: auto;
    }
</style>
<div class="text-center">
    <h1 class="display-4 text-black-50">
        Pizza  Shop
    </h1>
</div>
<hr />
<div class="container mt-lg-5">
    <img src="lib/images/pizza.png" />
</div>
